<h1>A new request has been submitted</h1>

<p>

            <%= @request.name %>
            <br>
            <%= @request.email %>
            <br>
            <%= @request.phone_number %>
            <blockquote>
                <%= @request.description %>
            </blockquote>
</p>
