<h1>A new request has been submitted</h1>

<p>
    <ul>
        <li>
            <%= @request.name %>
        </li>
        <li>
            <blockquote>
                <%= @request.description %>
            </blockquote>
        </li>
        <li>

            <%= @request.email %>
        </li>
        <li>

            <%= @request.phone_number %>
        </li>
    </ul>
</p>
