<br>

<%= render partial: "navbar" %>

<h1>welcome to craftsman repository </h1>

<h3>Here is a list of all the craftsman</h3>
<% @user_detail.each do |user| %>
<ul>
    <li> <%= link_to "#{user.name}", user_detail_path(user.user_id)%></li>
</ul>
<%end  %>

<h2> If none of the above craftsman listed in your area list your project type, submit a request below to have our administrators help find a craftsman.</h2>


<%= link_to "requests", new_request_path %>