<br>
<% if current_user %>
<%= render partial: "navbar" %>
<% end %>
<h1>welcome to craftsman repository </h1>

<h3>Here is a list of all the craftsman</h3>
<% @users.each do |user| %>
<ul>
    <li> <%= user.email %></li>
</ul>
<%end  %>

<h1> to request a project from the abalible craftsman submit the below form and an email will be sent to them to connect with you.</h1>

<%= render partial: 'request_form' %>