<br>
<% if current_user %>
<%= render partial: "navbar" %>
<% end %>
<h1>welcome to craftsman repository </h1>

<h3>Here is a list of all the craftsman</h3>
<% @users.each do |user| %>
<ul>
    <li> <%= user.email %></li>
</ul>
<%end  %>

<h2> If none of the above craftsman listed in your area list your project type, submit a request below to have our administrators help find a craftsman.</h2>


<%= link_to "requests", new_request_path %>