<h1>Edit</h1>

<%= render partial: 'form' %>

<%= link_to "Add Skill" new_toolbelt_skill_path %>

<% if !current_user.toolbelts.empty? %>
<% current_user.toolbelts.each do |skill| %>
<ul>
<li>
<%= skill.skill.name %>
</li>
</ul>
<% end %>
<% end %>